<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New User</title>
</head>
<body>
<h1>New User</h1>
<form action="#" th:action="@{/users/create}" th:object="${user}" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" th:field="*{username}"/>
  <br/>
  <label for="password">Password:</label>
  <input type="password" id="password" th:field="*{password}"/>
  <br/>
  <label for="role">Role:</label>
  <input type="text" id="role" th:field="*{role}"/>
  <br/>
  <button type="submit">Create</button>
</form>
</body>
</html>
